/* Body */
.body {
  background-color: #EEEEEE;
}

/* Picture Card */
.nameTitle {
  color: red;
}

.cardImg {
  width: 250px;
  height: 250px;
}

/* Icon */
.iconImg {
  width: 25px;
  height: 25px;
}


/* 
Colors 
#222831 dark grey
#393E46 ligher grey
#EEEEEE light grey

*/

