.comingSoon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.comingSoon h1 {
    font-size: 3rem;
    color: #222831;
  }
  
  .comingSoon img {
    width: 30rem;
    height: 30rem;
  }
